<!DOCTYPE html>

<h1>{{ 'luckynumber'|trans({}, 'messages') }} {{ number }}</h1>

<a href="/index.php/connect/github">
    Login with Github
</a>

<a href="/index.php/connect/stackexchange">
    Login with Stack Exchange
</a>

<a href="/index.php/connect/facebook">
    Login with Facebook
</a>

<a href="/index.php/connect/googleplus">
    Login with Google+
</a>